<!DOCTYPE html>
<html>
	<head>
		<title>Главная</title>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<base href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/styles/flex.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/fonts.css">
		<link rel="shortcut icon" href="favicon.ico">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="assets/styles/style_ie8.css"><![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	</head>
	<body>
		<header>        
			<div class="container header">
				<div class="row-between center">
					<div class="logo">
						<div class="logo-img"><a href="#" title="смартсервис"><img src="assets/images/logo.png" alt="logo"></a></div>
						<div class="logo-text"><a href="#"><span>смарт</span>сервис</a>
						<p>Ремонт сотовых телефонов, планшетов, ноутбуков</p></div>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. восточная, 156</span></p>
						<p>Пн.-пт. с 10-00 до 20-00</p>
						<p>Сб.-вс. с 11-00 до 19-00</p>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. крауля, 8</span></p>
						<p>С 11-00 до 19-00</p>
						<p>Каждый день без выходных</p>
						<div class="searches">
							<form action="#">
								<span></span>
								<input type="text">
							</form>
						</div>
					</div>
					<div class="tel">
						<a href="tel:+73433283844">+7 (343) 328-38-44</a>
						<a href="tel:+73433283594">+7 (343) 328-35-94</a>
						<a href="#" class="call-back"><span>Заказать обратный звонок</span></a>
					</div>
				</div>
				<nav>
					<div class="nav">
						<ul class="row-between center">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Наш прайс</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</nav>
			</div>			
		</header>
		<section>
			<div class="wrapper">
				<div class="main-header-wrapper" style="background-image: url(assets/images/title/title.jpg);">
					<div class="container">
						<div class="main-header padding">
							<ul class="breadcramb">
								<li><a href="#">Главная</a></li>
								<li>&gt;</li>
								<li>Наш прайс</li>
							</ul>
							<div class="pagetitle">Наш прайс</div>
							<div class="intro-text">В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами, нетбуками и другими портативными устройствами. Ваш телефон – кладезь информации: последних новостных лент, важных контактов, любимых фотоснимков.</div>
						</div>
					</div>
				</div>
				<div class="main">
					<div class="container">
						<div class="catalog2 row-around">
							<div class="item2">
								<div class="catalog2-item">									
									<a href="#" title="samsung"><span class="catalog2-text"><img  class="catalog2-logo" src="assets/images/brand/logo/samsung.png" alt="samsung"><img  class="catalog2-logo-hover" src="assets/images/brand/logo/hover/samsung.png" alt="samsung"><span>В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами.</span></span><span  class="catalog2-img"><img src="assets/images/brand/samsung.png" alt="samsung"></span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog2-item">									
									<a href="#" title="samsung"><span class="catalog2-text"><img  class="catalog2-logo" src="assets/images/brand/logo/nokia.png" alt="nokia"><img  class="catalog2-logo-hover" src="assets/images/brand/logo/hover/nokia.png" alt="samsung"><span>В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами.</span></span><span  class="catalog2-img"><img src="assets/images/brand/nokia.png" alt="samsung"></span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog2-item">									
									<a href="#" title="sony"><span class="catalog2-text"><img  class="catalog2-logo" src="assets/images/brand/logo/sony.png" alt="samsung"><img  class="catalog2-logo-hover" src="assets/images/brand/logo/hover/sony.png" alt="samsung"><span>В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами.</span></span><span  class="catalog2-img"><img src="assets/images/brand/sony.png" alt="samsung"></span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog2-item">									
									<a href="#" title="alcatel"><span class="catalog2-text"><img  class="catalog2-logo" src="assets/images/brand/logo/alcatel.png" alt="nokia"><img  class="catalog2-logo-hover" src="assets/images/brand/logo/hover/alcatel.png" alt="samsung"><span>В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами.</span></span><span  class="catalog2-img"><img src="assets/images/brand/alcatel.png" alt="samsung"></span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog2-item">									
									<a href="#" title="lenovo"><span class="catalog2-text"><img  class="catalog2-logo" src="assets/images/brand/logo/lenovo.png" alt="samsung"><img  class="catalog2-logo-hover" src="assets/images/brand/logo/hover/lenovo.png" alt="samsung"><span>В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами.</span></span><span  class="catalog2-img"><img src="assets/images/brand/lenovo.png" alt="samsung"></span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog2-item">									
									<a href="#" title="apple"><span class="catalog2-text"><img  class="catalog2-logo" src="assets/images/brand/logo/apple.png" alt="nokia"><img  class="catalog2-logo-hover" src="assets/images/brand/logo/hover/apple.png" alt="samsung"><span>В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами.</span></span><span  class="catalog2-img"><img src="assets/images/brand/apple.png" alt="samsung"></span></a>
								</div>
							</div>							
						</div>
						<div class="content-text">
							<table>
								<thead>
									<tr>
										<th class="text-left">Виды работ</th>
										<th class="text-center">Срок выполнения</th>
										<th class="text-center">Цена</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><i></i>Смена ПО, прошивка телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Снятие графического кода, разблокировка</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена гнезда зарядки телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена тачскрина (сенсора)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена динамика (музыкального)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Смена ПО, прошивка телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Снятие графического кода, разблокировка</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена гнезда зарядки телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена динамика (музыкального)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена тачскрина (сенсора)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="replace">
					<div class="container">
						<div class="replace-item">
							<div>
								<p class="replace-title">замена гнезда зарядки телефона</p>
								<p class="replace-time">за 1 час - <span >от <span class="replace-price">800</span> р.</span></p>
							</div>
							<div>
								<img src="assets/images/spare/microUSB.png" alt="">
							</div>
							<div>
								<a href="#" class="btn">Оставить заявку</a>
							</div>
						</div>
					</div>
				</div>
				<div class="popular-wrapper">
					<div class="container">
						<div class="row-left padding">
							<div class="item2 popular">
								<p>популярная услуга -</p>
								<p>замена сесорного стекла</p>
								<a href="#" class="btn-white">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article-wrapper">
					<div class="container">
						<div class="content-text">
							<h1>Ремонт смартфонов</h1>
							<p>Сервисный центр "Смарт Сервис" направлен на предоставление услуг высокого качества в сфере починки смартфонов. Что из себя представляет смартфон? Это устройство, сочетающее в себе функции мобильного телефона и персонального карманного компьютера.</p>
							<p>Представленный сервис готов предложить диагностику и ремонт сотовых телефонов следующих марок: Nokia, Samsung, IPhone, HTC, Lenovo и другие. Все работы выполняются высококлассными специалистами и мастерами своего дела, именно поэтому поломка будет качественно устранена.</p>
							<p>Починку коммуникаторов можно осуществить в сервисном центре "Смарт Сервис". Если у вас каким-либо образом был поврежден коннектор, раздавлен дисплей телефона, сломан разъём для аудио-гарнитуры или присутствует любая другая поломка, мешающая полноценному пользованию устройством, то работники "Смарт Сервиса" устранят их в кратчайшие сроки за приемлемую цену.</p>
							<h2>Направления специализации</h2>
							<p>В число основных предлагаемых услуг организации включены:</p>
							<ul>
								<li>диагностика и ремонт телефонов HTC;</li>
								<li>диагностика и ремонт Lenovo;</li>
								<li>диагностика и ремонт Sony xperia;</li>
								<li>диагностика и ремонт смартфонов асус и другое.</li>
							</ul>
							<p>Например, специалисты на высшем уровне осуществят ремонт смартфонов самсунг, ремонт нокиа независимо от степени сложности поломки. Как правило, они быстро находят и устраняют причину нарушения, а не только её следствие. Длительный период компания осуществляет ремонт HTC и ремонт смартфонов SONY, опыт с которыми за это время значительно вырос.</p>
							<p>Обобщенный ранее ремонт телефона смартфона, можно рассмотреть более подробно. Организация осуществляет замену экранов, сенсорной панели, кнопок (блокировки, включения/выключения, звуковых клавиш и др.) и разъёмов, корректировку работы дополнительных модулей, исправление повреждений корпуса в результате неправильного вскрытия, повреждений плат и другого. Кроме этого, проводится очищение устройства в случае его попадания в воду. Сделать прошивку, вы также, можете в центре "Смарт Сервис".</p>
							<p>Узнать подробнее о ценах предлагаемых услуг можно в разделе:</p>
							<p>Однако стоит отметить, что диагностика бесплатна.</p>
							<p>В распоряжении центра находится профессиональное оборудование, с помощью которого можно устранить разнообразные поломки смартфонов. Всё это дополняется опытом, знаниями и умениями мастеров по починке. Вам предоставляется возможность за малое количество времени привести в действие своё устройство при минимальных затратах.</p>
							<p>Наиболее часто поломка устройства связана с обращением пользователя с ним. Причиной может стать случайное падение, намокание телефона, выход из строя программной части устройства.</p>
							<h3>Ремонт смартфонов Екатеринбург</h3>
							<p>Несмотря на то, что в Екатеринбурге число подобных организаций достаточно большое, данная компания способна конкурировать с ними. За достаточно длительное функционирование организация доказала свою компетентность и ответственность в данном деле. С уверенностью можно заявить, что "Смарт Сервис" - один из лучших ремонтных центров в Екатеринбурге.</p>
							<h6>Преимущество обращения в центр "Смарт Сервис"</h6>
							<ol>
								<li>Ремонтный центр "Смарт Сервис" предоставляет лучший ремонт смартфонов в Екатеринбурге.</li>
								<li>Все услуги компании доступны по хорошим ценам.</li>
								<li>Если вам нужно осуществить ремонт в кратчайшие сроки, то вам обязательно нужно в "Смарт Сервис", ведь здесь починка проводится в течение одних суток.</li>
								<li>Специалисты бережно относятся к полученным устройствам.</li>
								<li>Организация не использует фальшивых запчастей. Обратившись сюда, вы можете быть уверены, что будут использованы оригинальные и качественные запчасти от производителя.</li>
								<li>Подход к каждому клиенту индивидуален.</li>
								<li>Задействование исключительно современного и качественного оборудования.</li>
							</ol>
							<h6>Фирма гарантирует каждому клиенту:</h6>
							<ul>
								<li>выполнение ремонта вашего смартфона на высочайшем уровне;</li>
								<li>долгий гарантированный срок службы устройства после осуществления ремонтных работ;</li>
								<li>проведение работ исключительно обученными, специализированными работниками;</li>
								<li>предоставление консультации, а также, рекомендаций по дальнейшей эксплуатации устройства;</li>
								<li>бесплатная диагностика гаджета.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="main-footer-wrapper">
					<div class="container">
						<div class="row-left padding">
							<div class="item white">
								<div class="title ">Отзывы наших клиентов</div>
								<div class="logo-text"><a href="#"><span>смарт</span>сервис</a></div>
								<p>Мы откроем второе дыхание вашим гаджетам!</p>
								<a href="#" class="btn">Читать отзывы</a>
							</div>
						</div>
					</div>
				</div>
				<div class="request-wrapper">
					<div class="container">
						<div class="request row-right padding">
							<div class="request-form item2">
								<div class="title red text-center">Оставьте заявку</div>
								<p>И мы свяжемся с вами в ближайшее время</p>
								<form action="" method="post" class="ajax_form af_example">
								    <div class="form-group">
								        <label class="control-label" for="af_name"></label>
								        <div class="controls">
								            <input type="text" id="af_name" name="name" value="" placeholder="Имя" class="form-control"/>
								            <span class="error_name"></span>
								        </div>
								    </div>
								    <div class="form-group">
								        <label class="control-label" for="af_phone"></label>
								        <div class="controls">
								            <input type="text" id="af_phone" name="phone" value="" placeholder="Тел" class="form-control"/>
								            <span class="error_phone"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <label class="control-label" for="af_email"></label>
								        <div class="controls">
								            <input type="email" id="af_email" name="email" value="" placeholder="E-mail" class="form-control"/>
								            <span class="error_email"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <label class="control-label" for="af_message"></label>
								        <div class="controls">
								            <textarea id="af_message" name="message" class="form-control" rows="5" placeholder="Техт сообщения"></textarea>
								            <span class="error_message"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <div class="controls">
								            <button type="submit" class="btn btn-primary">Отправить</button>
								        </div>
								    </div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="map-wrapper">
					<div class="container">
						<div class="maps">
							<div class="item2"><img src="assets/images/pictures/map1.jpg" alt=""></div>
							<div class="item2"><img src="assets/images/pictures/map2.jpg" alt=""></div>
						</div>
					</div>
				</div>			
			</div>
		</section>
		<footer>
			<div class="footer-main">
				<div class="container">
					<div class="row-between center">
						<nav>
							 <ul class="footer-nav">
								<li><a href="#">Главная</a></li>
								<li><a href="#">Наш прайс</a></li>
								<li><a href="#">О компании</a></li>
								<li><a href="#">Отзывы</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. восточная, 156</span></p>
							<p>Пн.-пт. с 10-00 до 20-00</p>
							<p>Сб.-вс. с 11-00 до 19-00</p>
						</div>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. крауля, 8</span></p>
							<p>С 11-00 до 19-00</p>
							<p>Каждый день без выходных</p>
						</div>
						<div class="tel">
							<a href="tel:+73433283844">+7 (343) 328-38-44</a>
							<a href="tel:+73433283594">+7 (343) 328-35-94</a>
							<a href="#" class="btn">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-wrapper">
				<div class="container">
					<div class="row-between white center">
						<div class="footer-logo text-center">
							<p><span>смартсервис</span></p>
							<p>&copy;2017. Все права защищены</p>
						</div>
						<div class="social">							
							<a href="#" class="vk"><span></span></a>
							<a href="#" class="tw"><span></span></a>
							<a href="#" class="fb"><span></span></a>
							<a href="#" class="ok"><span></span></a>
						</div>
						<div class="counter">
							<img src="assets/images/decor/top.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="assets/scripts/general.js"></script>
		<script src="assets/scripts/bxslider/jquery.bxslider.min.js"></script>
	</body>
</html>