<!DOCTYPE html>
<html>
	<head>
		<title>Главная</title>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<base href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/styles/flex.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/fonts.css">
		<link rel="shortcut icon" href="favicon.ico">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="assets/styles/style_ie8.css"><![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	</head>
	<body>
		<header>        
			<div class="container header">
				<div class="row-between center">
					<div class="logo">
						<div class="logo-img"><a href="#" title="смартсервис"><img src="assets/images/logo.png" alt="logo"></a></div>
						<div class="logo-text"><a href="#"><span>смарт</span>сервис</a>
						<p>Ремонт сотовых телефонов, планшетов, ноутбуков</p></div>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. восточная, 156</span></p>
						<p>Пн.-пт. с 10-00 до 20-00</p>
						<p>Сб.-вс. с 11-00 до 19-00</p>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. крауля, 8</span></p>
						<p>С 11-00 до 19-00</p>
						<p>Каждый день без выходных</p>
						<div class="searches">
							<form action="#">
								<span></span>
								<input type="text">
							</form>
						</div>
					</div>
					<div class="tel">
						<a href="tel:+73433283844">+7 (343) 328-38-44</a>
						<a href="tel:+73433283594">+7 (343) 328-35-94</a>
						<a href="#" class="call-back"><span>Заказать обратный звонок</span></a>
					</div>
				</div>
				<nav>
					<div class="nav">
						<ul class="row-between center">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Наш прайс</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</nav>
			</div>			
		</header>
		<section>
			<div class="wrapper">
				<div class="main-header-wrapper" style="background-image: url(assets/images/title/title.jpg);">
					<div class="container">
						<div class="main-header padding">
							<ul class="breadcramb">
								<li><a href="#">Главная</a></li>
								<li>&gt;</li>
								<li><a href="#">Наш прайс</a></li>
								<li>&gt;</li>
								<li><a href="#">Телефоны, смартфоны</a></li>
								<li>&gt;</li>
								<li><a href="#">Ремонт Samsung</a></li>
								<li>&gt;</li>
								<li>Ремонт Samsung Galaxy A3 A300f  A300h</li>
							</ul>
							<div class="pagetitle">Ремонт Samsung Galaxy A3 A300f  A300h</div>
							<div class="intro-text">В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами, нетбуками и другими портативными устройствами. Ваш телефон – кладезь информации: последних новостных лент, важных контактов, любимых фотоснимков.</div>
						</div>
					</div>
				</div>
				<div class="main">
					<div class="container">
						<div class="catalog4 row-between">
							<div class="catalog4-img">
								<img src="assets/images/phone/phone.jpg" alt="Samsung">
								<p class="catalog4-disc">скидка <span>20%*</span></p>
							</div>
							<div class="catalog4-descr">
								<p class="catalog4-title">Ремонт Самсунг А3 в Екатеринбурге</p>
								<p class="catalog4-text">В отличии от большинства ранее произведенных моделей линейки Samsung Galaxy , смартфон Самсунг А3 сложный на разбор. Для того чтобы вскрыть данную модель потребуется поднять Дисплейный модуль, который приклеен к средней части корпуса. Экран в свою очередь очень тонкий и его при вскрытии можно легко сломать или повредить. А уже под экраном можно выкрутить болтики и разобрать полностью телефон.</p>
								<div class="catalog4-btn">
									<a href="#" class="btn">Оставить заявку</a>
									<a href="#" class="btn-gray"><span>Задать вопрос</span></a>
								</div>
								<div class="catalog4-question">
									<p><span>При возникновении вопросов звоните: </span>8 (343) 328-38-44</p>
									<p><i>либо можете задать вопрос онлайн-консультанту.</i></p>
								</div>
								<p class="catalog4-comment">*- <span>Скидка 20%</span> <i>при оформлении заявки через сайт</i></p>
							</div>							
						</div>
						<div class="content-text">
							<table>
								<thead>
									<tr>
										<th class="text-left">Виды работ</th>
										<th class="text-center">Срок выполнения</th>
										<th class="text-center">Цена</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><i></i>Смена ПО, прошивка телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Снятие графического кода, разблокировка</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена гнезда зарядки телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена тачскрина (сенсора)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена динамика (музыкального)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Смена ПО, прошивка телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Снятие графического кода, разблокировка</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена гнезда зарядки телефона</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена динамика (музыкального)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
									<tr>
										<td><i></i>Замена тачскрина (сенсора)</td>
										<td class="text-center">30 мин.</td>
										<td class="text-center">500 р.</td>
									</tr>
								</tbody>
							</table>
							<h1>Частые причины обращения по ремонту Samsung galaxy A3 :</h1>
							<ul>
								<li>Замена экрана Самсунг А3</li>
								<li>Замена гнезда зарядки Самсунг А3</li>
								<li>Замена только стекла Самсунг А3</li>
								<li>Ремонт Самсунг А3 после попадания воды</li>
								<li>Замена корпуса Samsung A3</li>
								<li>Замена микрофона Samsung A3</li>
								<li>Замена Аккумулятора Самсунг А3</li>
							</ul>
							<p>Если вам требуется ремонт Самсунг А3 , то можете обратится в наш сервисный центр и мы устраним любые поломки в короткие сроки.</p>
							<p>Практически все запчасти у нас в наличии. Специалисты Смартсервиса имеют большой опыт в ремонте Samsung A3.</p>
							<p><strong class="red">Цена ремонта Самсунг А3 начинается от 1800р. </strong>(если требуется вскрытие апарата) , так как данный смартфон разбирается только через экран.</p>
							<p>МЫ ГАРАНТИРУЕМ ЦЕЛОСТНОСТЬ ДИСПЛЕЯ САМСУНГ А3 ПРИ ВСКРЫТИИ !</p>
							<p>Мы советуем не обращаться к неквалифицированным мастерам , по ремонту Самсунг галакси А3 , так как есть большой риск повредить при вскрытии дисплей, стекло, либо шлейф дисплея!</p>
							<p><strong class="red">Цена нового дисплея Samsung A3 начинается от 6700р.</strong></p>
						</div>
						<div class="clear"></div>
						<div class="extra">
							<div class="catalog4-title padding">Возможно, вас заинтересует</div>
							<div class="catalog3 row-around">
								<div class="item4">				
									<a class="catalog3-item" href="#" title="Samsung">
										<img src="assets/images/phone/phone1.jpg" alt="Samsung">
										<span class="name-phone">SAMSUNG GALAXY A3 A300f, A300h</span>
										<span class="price-service">от <span class="red">800</span> р.</span>
										<span class="phone-disc">скидка <i>10%*</i></span>
									</a>
								</div>
								<div class="item4">
																		
										<a class="catalog3-item" href="#" title="Samsung">
											<img src="assets/images/phone/phone2.jpg" alt="Samsung">
											<span class="name-phone">SAMSUNG GALAXY</span>
											<span class="price-service">от <span class="red">800</span> р.</span>
											<span class="phone-disc">скидка <i>5%*</i></span>
										</a>
							
								</div>
								<div class="item4">
									<a class="catalog3-item" href="#" title="Samsung">
											<img src="assets/images/phone/phone3.jpg" alt="Samsung">
											<span class="name-phone">SAMSUNG GALAXY A3 A300f, A300h</span>
											<span class="price-service">от <span class="red">800</span> р.</span>
											<span class="phone-disc">скидка <i>15%*</i></span>
										</a>
								
								</div>
								<div class="item4">					
									<a class="catalog3-item" href="#" title="Samsung">
										<img src="assets/images/phone/phone2.jpg" alt="Samsung">
										<span class="name-phone">SAMSUNG GALAXY A3 A300f, A300h</span>
										<span class="price-service">от <span class="red">800</span> р.</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-footer-wrapper">
					<div class="container">
						<div class="row-left padding">
							<div class="item white">
								<div class="title ">Отзывы наших клиентов</div>
								<div class="logo-text"><a href="#"><span>смарт</span>сервис</a></div>
								<p>Мы откроем второе дыхание вашим гаджетам!</p>
								<a href="#" class="btn">Читать отзывы</a>
							</div>
						</div>
					</div>
				</div>
				<div class="request-wrapper">
					<div class="container">
						<div class="request row-right padding">
							<div class="request-form item2">
								<div class="title red text-center">Оставьте заявку</div>
								<p>И мы свяжемся с вами в ближайшее время</p>
								<form action="" method="post" class="ajax_form af_example">
								    <div class="form-group">
								        <label class="control-label" for="af_name"></label>
								        <div class="controls">
								            <input type="text" id="af_name" name="name" value="" placeholder="Имя" class="form-control"/>
								            <span class="error_name"></span>
								        </div>
								    </div>
								    <div class="form-group">
								        <label class="control-label" for="af_phone"></label>
								        <div class="controls">
								            <input type="text" id="af_phone" name="phone" value="" placeholder="Тел" class="form-control"/>
								            <span class="error_phone"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <label class="control-label" for="af_email"></label>
								        <div class="controls">
								            <input type="email" id="af_email" name="email" value="" placeholder="E-mail" class="form-control"/>
								            <span class="error_email"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <label class="control-label" for="af_message"></label>
								        <div class="controls">
								            <textarea id="af_message" name="message" class="form-control" rows="5" placeholder="Техт сообщения"></textarea>
								            <span class="error_message"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <div class="controls">
								            <button type="submit" class="btn btn-primary">Отправить</button>
								        </div>
								    </div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="map-wrapper">
					<div class="container">
						<div class="maps">
							<div class="item2"><img src="assets/images/pictures/map1.jpg" alt=""></div>
							<div class="item2"><img src="assets/images/pictures/map2.jpg" alt=""></div>
						</div>
					</div>
				</div>			
			</div>
		</section>
		<footer>
			<div class="footer-main">
				<div class="container">
					<div class="row-between center">
						<nav>
							 <ul class="footer-nav">
								<li><a href="#">Главная</a></li>
								<li><a href="#">Наш прайс</a></li>
								<li><a href="#">О компании</a></li>
								<li><a href="#">Отзывы</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. восточная, 156</span></p>
							<p>Пн.-пт. с 10-00 до 20-00</p>
							<p>Сб.-вс. с 11-00 до 19-00</p>
						</div>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. крауля, 8</span></p>
							<p>С 11-00 до 19-00</p>
							<p>Каждый день без выходных</p>
						</div>
						<div class="tel">
							<a href="tel:+73433283844">+7 (343) 328-38-44</a>
							<a href="tel:+73433283594">+7 (343) 328-35-94</a>
							<a href="#" class="btn">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-wrapper">
				<div class="container">
					<div class="row-between white center">
						<div class="footer-logo text-center">
							<p><span>смартсервис</span></p>
							<p>&copy;2017. Все права защищены</p>
						</div>
						<div class="social">							
							<a href="#" class="vk"><span></span></a>
							<a href="#" class="tw"><span></span></a>
							<a href="#" class="fb"><span></span></a>
							<a href="#" class="ok"><span></span></a>
						</div>
						<div class="counter">
							<img src="assets/images/decor/top.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="assets/scripts/general.js"></script>
		<script src="assets/scripts/bxslider/jquery.bxslider.min.js"></script>
	</body>
</html>