<!DOCTYPE html>
<html>
	<head>
		<title>Главная</title>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<base href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/styles/flex.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/fonts.css">
		<link rel="shortcut icon" href="favicon.ico">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="assets/styles/style_ie8.css"><![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	</head>
	<body>
		<header>        
			<div class="container header">
				<div class="row-between center">
					<div class="logo">
						<div class="logo-img"><a href="#" title="смартсервис"><img src="assets/images/logo.png" alt="logo"></a></div>
						<div class="logo-text"><a href="#"><span>смарт</span>сервис</a>
						<p>Ремонт сотовых телефонов, планшетов, ноутбуков</p></div>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. восточная, 156</span></p>
						<p>Пн.-пт. с 10-00 до 20-00</p>
						<p>Сб.-вс. с 11-00 до 19-00</p>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. крауля, 8</span></p>
						<p>С 11-00 до 19-00</p>
						<p>Каждый день без выходных</p>
						<div class="searches">
							<form action="#">
								<span></span>
								<input type="text">
							</form>
						</div>
					</div>
					<div class="tel">
						<a href="tel:+73433283844">+7 (343) 328-38-44</a>
						<a href="tel:+73433283594">+7 (343) 328-35-94</a>
						<a href="#" class="call-back"><span>Заказать обратный звонок</span></a>
					</div>
				</div>
				<nav>
					<div class="nav">
						<ul class="row-between center">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Наш прайс</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</nav>
			</div>			
		</header>
		<section>
			<div class="wrapper">
				<div class="main-header-wrapper" style="background-image: url(assets/images/title/title.jpg);">
					<div class="container">
						<div class="main-header padding">
							<ul class="breadcramb">
								<li><a href="#">Главная</a></li>
								<li>&gt;</li>
								<li>Наш прайс</li>
							</ul>
							<div class="pagetitle">Наш прайс</div>
							<div class="intro-text">В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами, нетбуками и другими портативными устройствами. Ваш телефон – кладезь информации: последних новостных лент, важных контактов, любимых фотоснимков.</div>
						</div>
					</div>
				</div>
				<div class="main">
					<div class="container">
						<div class="catalog1 row-around">
							<div class="item2">
								<div class="catalog1-img">
									<img src="assets/images/service/service1.jpg" alt="Техника Apple">
									<a href="#" title="Техника Apple"><span>Техника Apple</span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog1-img">
									<img src="assets/images/service/service2.jpg" alt="Техника Apple">
									<a href="#" title="Техника Apple"><span>телефоны, смартфоны</span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog1-img">
									<img src="assets/images/service/service3.jpg" alt="Техника Apple">
									<a href="#" title="Техника Apple"><span>планшеты</span></a>
								</div>
							</div>
							<div class="item2">
								<div class="catalog1-img">
									<img src="assets/images/service/service4.jpg" alt="Техника Apple">
									<a href="#" title="Техника Apple"><span>ноутбуки</span></a>
								</div>
							</div>
						</div>
						<div class="content-text">
							
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="main-footer-wrapper">
					<div class="container">
						<div class="row-left padding">
							<div class="item white">
								<div class="title ">Отзывы наших клиентов</div>
								<div class="logo-text"><a href="#"><span>смарт</span>сервис</a></div>
								<p>Мы откроем второе дыхание вашим гаджетам!</p>
								<a href="#" class="btn">Читать отзывы</a>
							</div>
						</div>
					</div>
				</div>
				<div class="request-wrapper">
					<div class="container">
						<div class="request row-right padding">
							<div class="request-form item2">
								<div class="title red text-center">Оставьте заявку</div>
								<p>И мы свяжемся с вами в ближайшее время</p>
								<form action="" method="post" class="ajax_form af_example">
								    <div class="form-group">
								        <label class="control-label" for="af_name"></label>
								        <div class="controls">
								            <input type="text" id="af_name" name="name" value="" placeholder="Имя" class="form-control"/>
								            <span class="error_name"></span>
								        </div>
								    </div>
								    <div class="form-group">
								        <label class="control-label" for="af_phone"></label>
								        <div class="controls">
								            <input type="text" id="af_phone" name="phone" value="" placeholder="Тел" class="form-control"/>
								            <span class="error_phone"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <label class="control-label" for="af_email"></label>
								        <div class="controls">
								            <input type="email" id="af_email" name="email" value="" placeholder="E-mail" class="form-control"/>
								            <span class="error_email"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <label class="control-label" for="af_message"></label>
								        <div class="controls">
								            <textarea id="af_message" name="message" class="form-control" rows="5" placeholder="Техт сообщения"></textarea>
								            <span class="error_message"></span>
								        </div>
								    </div>

								    <div class="form-group">
								        <div class="controls">
								            <button type="submit" class="btn btn-primary">Отправить</button>
								        </div>
								    </div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="map-wrapper">
					<div class="container">
						<div class="maps">
							<div class="item2"><img src="assets/images/pictures/map1.jpg" alt=""></div>
							<div class="item2"><img src="assets/images/pictures/map2.jpg" alt=""></div>
						</div>
					</div>
				</div>			
			</div>
		</section>
		<footer>
			<div class="footer-main">
				<div class="container">
					<div class="row-between center">
						<nav>
							 <ul class="footer-nav">
								<li><a href="#">Главная</a></li>
								<li><a href="#">Наш прайс</a></li>
								<li><a href="#">О компании</a></li>
								<li><a href="#">Отзывы</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. восточная, 156</span></p>
							<p>Пн.-пт. с 10-00 до 20-00</p>
							<p>Сб.-вс. с 11-00 до 19-00</p>
						</div>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. крауля, 8</span></p>
							<p>С 11-00 до 19-00</p>
							<p>Каждый день без выходных</p>
						</div>
						<div class="tel">
							<a href="tel:+73433283844">+7 (343) 328-38-44</a>
							<a href="tel:+73433283594">+7 (343) 328-35-94</a>
							<a href="#" class="btn">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-wrapper">
				<div class="container">
					<div class="row-between white center">
						<div class="footer-logo text-center">
							<p><span>смартсервис</span></p>
							<p>&copy;2017. Все права защищены</p>
						</div>
						<div class="social">							
							<a href="#" class="vk"><span></span></a>
							<a href="#" class="tw"><span></span></a>
							<a href="#" class="fb"><span></span></a>
							<a href="#" class="ok"><span></span></a>
						</div>
						<div class="counter">
							<img src="assets/images/decor/top.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="assets/scripts/general.js"></script>
		<script src="assets/scripts/bxslider/jquery.bxslider.min.js"></script>
	</body>
</html>