<!DOCTYPE html>
<html>
	<head>
		<title>Главная</title>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<base href=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/styles/flex.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
		<link rel="stylesheet" type="text/css" href="assets/styles/fonts.css">
		<link rel="shortcut icon" href="favicon.ico">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="assets/styles/style_ie8.css"><![endif]-->
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	</head>
	<body>
		<header>        
			<div class="container header">
				<div class="row-between center">
					<div class="logo">
						<div class="logo-img"><a href="#" title="смартсервис"><img src="assets/images/logo.png" alt="logo"></a></div>
						<div class="logo-text"><a href="#"><span>смарт</span>сервис</a>
						<p>Ремонт сотовых телефонов, планшетов, ноутбуков</p></div>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. восточная, 156</span></p>
						<p>Пн.-пт. с 10-00 до 20-00</p>
						<p>Сб.-вс. с 11-00 до 19-00</p>
					</div>
					<div class="adress">
						<p><span>г.Екатеринбург</span></p>
						<p><span>ул. крауля, 8</span></p>
						<p>С 11-00 до 19-00</p>
						<p>Каждый день без выходных</p>
						<div class="searches">
							<form action="#">
								<span></span>
								<input type="text">
							</form>
						</div>
					</div>
					<div class="tel">
						<a href="tel:+73433283844">+7 (343) 328-38-44</a>
						<a href="tel:+73433283594">+7 (343) 328-35-94</a>
						<a href="#" class="call-back"><span>Заказать обратный звонок</span></a>
					</div>
				</div>
				<nav>
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle">
					  	<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>		  
					</div>
					<div class="nav">
						<ul class="row-between center">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Наш прайс</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</nav>
			</div>			
		</header>
		<section>
			<div class="wrapper">
				<div class="slider-wrapper">
					<div class="container relativ">
							<p class="slider-prev"></p>
							<p class="slider-next"></p>					
						<div class="slider-main">

							<div id="slider">
								<div class="slide">
									<div class="slide-main">
										<p class="slide-title">Сервисный центр</p>
										<p class="slide-intro"><span>"Смарт Сервис"</span></p>
										<p class="slide-descr">– мы знаем, как оживить <span>ваш гаджет!</span></p>
										<p class="slide-text">В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами, нетбуками и другими портативными устройствами. Ваш телефон – кладезь информации: последних новостных лент, важных контактов, любимых фотоснимков. </p>
										<p><a href="#" class="btn">Оставить заявку</a></p>
									</div>
									<div class="slide-disc">
										<div>
											<p>весь месяц</p>
											<i></i>
											<p>Действуют скидки <br/>до</p>
											<p><span>10%</span></p>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="slide-main">
										<p class="slide-title">Сервисный центр</p>
										<p class="slide-intro"><span>"Смарт Сервис"</span></p>
										<p class="slide-descr">– мы знаем, как оживить <span>ваш гаджет!</span></p>
										<p class="slide-text">В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами, нетбуками и другими портативными устройствами. Ваш телефон – кладезь информации: последних новостных лент, важных контактов, любимых фотоснимков. </p>
										<p><a href="#" class="btn">Оставить заявку</a></p>
									</div>
									<div class="slide-disc">
										<div>
											<p>весь месяц</p>
											<i></i>
											<p>Действуют скидки <br/>до</p>
											<p><span>5%</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="row-between padding service-nav">
							<div class="item4 service-item">
								<div class="service-img">
									<img src="assets/images/service/apple.jpg" alt="Техника Apple">
									<div class="service-btn">
										<a href="#"><span><i style="background-image: url(assets/images/service/apple.png);"></i><span class="service-btn-txt">Техника Apple</span></span></a>
									</div>
								</div>
							</div>
							<div class="item4 service-item">
								<div class="service-img">
									<img src="assets/images/service/phone.jpg" alt="Техника Apple">
									<div class="service-btn">
										<a href="#"><span><i style="background-image: url(assets/images/service/phone.png);"></i><span class="service-btn-txt">Телефоны смартфоны</span></span></a>
									</div>
								</div>
							</div>
							<div class="item4 service-item">
								<div class="service-img">
									<img src="assets/images/service/tablet.jpg" alt="Техника Apple">
									<div class="service-btn">
										<a href="#"><span><i style="background-image: url(assets/images/service/tablet.png);"></i><span class="service-btn-txt">планшеты</span></span></a>
									</div>
								</div>
							</div>
							<div class="item4 service-item">
								<div class="service-img">
									<img src="assets/images/service/nout.jpg" alt="Техника Apple">
									<div class="service-btn">
										<a href="#"><span><i style="background-image: url(assets/images/service/nout.png);"></i><span class="service-btn-txt">ноутбуки</span></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="smart-wrapper">
					<div class="brand-wrapper">
						<ul id="sl-brand">
							<li><p><a href="#"><img src="assets/images/brand/logo/hover/alcatel.png" alt=""><span></span></a></p></li>
							<li><p><a href="#"><img src="assets/images/brand/logo/hover/samsung.png" alt=""><span></span></a></p></li>
							<li><p><a href="#"><img src="assets/images/brand/logo/hover/nokia.png" alt=""><span></span></a></p></li>
							<li><p><a href="#"><img src="assets/images/brand/logo/hover/apple.png" alt=""><span></span></a></p></li>
							<li><p><a href="#"><img src="assets/images/brand/logo/hover/sony.png" alt=""><span></span></a></p></li>
							<li><p><a href="#"><img src="assets/images/brand/logo/hover/lenovo.png" alt=""><span></span></a></p></li>
						</ul>
					</div>
					<div class="container">						
						<div class="smart-service row-between">
							<div class="smart-left">
								<p class="title">Смартсервис</p>
								<p class="intro">РЕМОНТ СОТОВОГО ТЕЛЕФОНА IPHONE,  SAMSUNG, SONY И ДРУГИХ  ИЗВЕСтных брендов</p>
								<p class="descr">В современные дни жизнь людей тесно взаимосвязана с гаджетами: планшетами, сотовыми телефонами, нетбуками и другими портативными устройствами. Ваш телефон – кладезь информации: последних новостных лент, важных контактов, любимых фотоснимков.</p>
								<p>Он связывает вас с нужными людьми, всегда поможет добраться до любого необходимого места, и мы понимаем это. Поэтому, если вдруг аппарат повредится либо начнет плохо функционировать, мы поможем срочно устранить эти проблемы.</p>
								<p class="smart-btn"><a href="#" class="btn">Как выбрать сервисный центр</a></p>
							</div>
							<div class="smart-right row-between">
								<div class="item2">
									<div class="smart-img">
										<img src="assets/images/smartservice/smart1.jpg" alt="">
										<a href="#"></a>
									</div>
								</div>
								<div class="item2">
									<div class="smart-img">
										<img src="assets/images/smartservice/smart2.jpg" alt="">
										<a href="#"></a>
									</div>
								</div>
								<div class="item2">
									<div class="smart-img">
										<img src="assets/images/smartservice/smart4.jpg" alt="">
										<a href="#"></a>
									</div>
								</div>
								<div class="item2">
									<div class="smart-img">
										<img src="assets/images/smartservice/smart3.jpg" alt="">
										<a href="#"></a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="plus-wrapper">
					<div class="container">
						<div class="title white text-center">наши преимущества</div>
						<div class="row-around">
							<div class="item3">
								<div class="plus-item">
									<div class="plus-img"><img src="assets/images/decor/plus/2serv.png" alt=""></div>
									<div class="plus-content">
										<p class="plus-title">2 сервисных <br>центра в центре города</p>
										<p>Наш сервисный центр  выполняет ремонт планшетов, оказывает квалифицированную техпомощь.</p>
									</div>
								</div>
							</div>
							<div class="item3">
								<div class="plus-item">
									<div class="plus-img"><img src="assets/images/decor/plus/parking.png" alt=""></div>
									<div class="plus-content">
										<p class="plus-title">Удобная бесплатная  <br>парковка</p>
										<p>Наш сервисный центр  выполняет ремонт планшетов, оказывает квалифицированную техпомощь.</p>
									</div>
								</div>
							</div>
							<div class="item3">
								<div class="plus-item">
									<div class="plus-img"><img src="assets/images/decor/plus/diagnost.png" alt=""></div>
									<div class="plus-content">
										<p class="plus-title">бесплатная <br>диагностика</p>
										<p>Наш сервисный центр  выполняет ремонт планшетов, оказывает квалифицированную техпомощь.</p>
									</div>
								</div>
							</div>
							<div class="item3">
								<div class="plus-item">
									<div class="plus-img"><img src="assets/images/decor/plus/kofe.png" alt=""></div>
									<div class="plus-content">
										<p class="plus-title">Горячий кофе  <br>каждому клиенту</p>
										<p>Наш сервисный центр  выполняет ремонт планшетов, оказывает квалифицированную техпомощь.</p>
									</div>
								</div>
							</div>
							<div class="item3">
								<div class="plus-item">
									<div class="plus-img"><img src="assets/images/decor/plus/time.png" alt=""></div>
									<div class="plus-content">
										<p class="plus-title">срок ремонта <br>от 1 часа</p>
										<p>Наш сервисный центр  выполняет ремонт планшетов, оказывает квалифицированную техпомощь.</p>
									</div>
								</div>
							</div>
							<div class="item3">
								<div class="plus-item">
									<div class="plus-img"><img src="assets/images/decor/plus/garant.png" alt=""></div>
									<div class="plus-content">
										<p class="plus-title">гарантия на все <br>работы</p>
										<p>Наш сервисный центр  выполняет ремонт планшетов, оказывает квалифицированную техпомощь.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="phone-wrapper">
					<div class="container">
						<div class="row-left">
							<div class="repair-wrapper">
								<p class="title white">Ремонт смартфонов <br>и планшетов</p>
								<p class="white repair-text">Он связывает вас с нужными людьми, всегда поможет добраться до любого необходимого места, и мы понимаем это. Поэтому, если вдруг аппарат повредится либо начнет плохо функционировать, мы поможем срочно устранить эти проблемы</p>
								<a href="#" class="btn-white">Перейти в раздел</a>
								<div class="repair-table">
									<table>
										<tbody>
											<tr>
												<td><i></i></td>
												<td><p>Смена ПО, прошивка телефона</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Снятие графического кода, разблокировка</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена гнезда зарядки телефона</p><b></b></td>
												<td><p>от <span>700</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена тачскрина (сенсора)</p><b></b></td>
												<td><p>от <span>800</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена динамика (музыкального)</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tablet-wrapper">
					<div class="container">
						<div class="row-right">
							<div class="repair-wrapper">
								<p class="title red">Ремонт ноутбуков</p>
								<p class="repair-descr">РЕМОНТ СОТОВОГО ТЕЛЕФОНА IPHONE, SAMSUNG, SONY И ДРУГИХ ИЗВЕСТНЫХ БРЕНДОВ</p>
								<p class="repair-text">Он связывает вас с нужными людьми, всегда поможет добраться до любого необходимого места, и мы понимаем это. Поэтому, если вдруг аппарат повредится либо начнет плохо функционировать, мы поможем срочно устранить эти проблемы</p>
								<a href="#" class="btn">Перейти в раздел</a>
								<div class="repair-table black-backgr">
									<table>
										<tbody>
											<tr>
												<td><i></i></td>
												<td><p>Смена ПО, прошивка телефона</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Снятие графического кода, разблокировка</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена гнезда зарядки телефона</p><b></b></td>
												<td><p>от <span>700</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена тачскрина (сенсора)</p><b></b></td>
												<td><p>от <span>800</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена динамика (музыкального)</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="apple-wrapper">
					<div class="container">
						<div class="row-left">
							<div class="repair-wrapper">
								<p class="title red">Рнемонт техники Apple</p>
								<p class="repair-descr white">РЕМОНТ СОТОВОГО ТЕЛЕФОНА IPHONE, SAMSUNG, SONY И ДРУГИХ ИЗВЕСТНЫХ БРЕНДОВ</p>
								<p class="white repair-text">Он связывает вас с нужными людьми, всегда поможет добраться до любого необходимого места, и мы понимаем это. Поэтому, если вдруг аппарат повредится либо начнет плохо функционировать, мы поможем срочно устранить эти проблемы</p>
								<a href="#" class="btn">Перейти в раздел</a>
								<div class="repair-table red-backgr">
									<table>
										<tbody>
											<tr>
												<td><i></i></td>
												<td><p>Смена ПО, прошивка телефона</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Снятие графического кода, разблокировка</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена гнезда зарядки телефона</p><b></b></td>
												<td><p>от <span>700</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена тачскрина (сенсора)</p><b></b></td>
												<td><p>от <span>800</span> р.</p></td>
											</tr>
											<tr>
												<td><i></i></td>
												<td><p>Замена динамика (музыкального)</p><b></b></td>
												<td><p>от <span>500</span> р.</p></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment-wrapper">
					<div class="container">
						<div class="title text-center">Отзывы</div>
						<div class="slider-comment">
							<p class="comment-prev"></p>
							<p class="comment-next"></p>
							<div id="sl-comments">
								<div class="comment">
									<div class="comment-back">
										<div class="comment-left white item2">
											<div class="comment-img">
												<img src="assets/images/comment/comment1.jpg" alt="">
												<p>было</p>
											</div>
											<div class="comment-img">
												<img src="assets/images/comment/comment2.jpg" alt="">
												<p>стало</p>
											</div>
										</div>
										<div class="comment-right item2">
											<div class="comment-autor white">				
												<div class="autor-data ">
													<div class="autor-foto"><img src="assets/images/comment/autor.jpg" alt=""></div>
													<div>
														<p class="autor-name">Сергей Владимирович</p>
														<p class="autor-age">23 года</p>
													</div>
												</div>
												<div class="autor-comment">Ребята молодцы! Свою работу знают отлично! Цены не очень приемлемые! Сервисов по городу много, но этот мне понравился и отношением и ценовой политикой и оборудованием рабочих мест. Это не "рем. лавки" в забегаловках, где курочат железо на коленях и без гарантии! Молодцы!!! Процветания Вам!!!</div>
											</div>
											
										</div>
									</div>
								</div>
								<div class="comment">
									<div class="comment-back">
										<div class="comment-left white item2">
											<div class="comment-img">
												<img src="assets/images/comment/comment1.jpg" alt="">
												<p>было</p>
											</div>
											<div class="comment-img">
												<img src="assets/images/comment/comment2.jpg" alt="">
												<p>стало</p>
											</div>
										</div>
										<div class="comment-right item2">
											<div class="comment-autor white">				
												<div class="autor-data ">
													<div class="autor-foto"><img src="assets/images/comment/autor.jpg" alt=""></div>
													<div>
														<p class="autor-name">Сергей Владимирович</p>
														<p class="autor-age">23 года</p>
													</div>
												</div>
												<div class="autor-comment">Ребята молодцы! Свою работу знают отлично! Цены не очень приемлемые! Сервисов по городу много, но этот мне понравился и отношением и ценовой политикой и оборудованием рабочих мест. Это не "рем. лавки" в забегаловках, где курочат железо на коленях и без гарантии! Молодцы!!! Процветания Вам!!!</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="come-wrapper">	
					<div class="container">
						<div class="title text-center white">приходите к нам</div>
						<div class="slider-come">
							<p class="come-prev"></p>
							<p class="come-next"></p>
							<ul id="sl-come">
								<li><p><img src="assets/images/smartservice/smart5.jpg" alt=""><a href="#"></a></p></li>
								<li><p><img src="assets/images/smartservice/smart6.jpg" alt=""><a href="#"></a></p></li>
								<li><p><img src="assets/images/smartservice/smart5.jpg" alt=""><a href="#"></a></p></li>
								<li><p><img src="assets/images/smartservice/smart6.jpg" alt=""><a href="#"></a></p></li>
								<li><p><img src="assets/images/smartservice/smart5.jpg" alt=""><a href="#"></a></p></li>
								<li><p><img src="assets/images/smartservice/smart6.jpg" alt=""><a href="#"></a></p></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="map-wrapper">
					<div class="container">
						<div class="maps">
							<div class="item2"><img src="assets/images/pictures/map1.jpg" alt=""></div>
							<div class="item2"><img src="assets/images/pictures/map2.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="footer-main">
				<div class="container">
					<div class="row-between center">
						<nav>
							 <ul class="footer-nav">
								<li><a href="#">Главная</a></li>
								<li><a href="#">Наш прайс</a></li>
								<li><a href="#">О компании</a></li>
								<li><a href="#">Отзывы</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. восточная, 156</span></p>
							<p>Пн.-пт. с 10-00 до 20-00</p>
							<p>Сб.-вс. с 11-00 до 19-00</p>
						</div>
						<div class="adress">
							<p><span>г.Екатеринбург</span></p>
							<p><span>ул. крауля, 8</span></p>
							<p>С 11-00 до 19-00</p>
							<p>Каждый день без выходных</p>
						</div>
						<div class="tel">
							<a href="tel:+73433283844">+7 (343) 328-38-44</a>
							<a href="tel:+73433283594">+7 (343) 328-35-94</a>
							<a href="#" class="btn">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-wrapper">
				<div class="container">
					<div class="row-between white center">
						<div class="footer-logo text-center">
							<p><span>смартсервис</span></p>
							<p>&copy;2017. Все права защищены</p>
						</div>
						<div class="social">							
							<a href="#" class="vk"><span></span></a>
							<a href="#" class="tw"><span></span></a>
							<a href="#" class="fb"><span></span></a>
							<a href="#" class="ok"><span></span></a>
						</div>
						<div class="counter">
							<img src="assets/images/decor/top.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="assets/scripts/bxslider/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="assets/scripts/general.js"></script>

	</body>
</html>